version: '3.8'

services:
  ecommerce-app:
    build: .
    container_name: ecommerce-dashboard
    ports:
      - "8080:8080"
    env_file:
      - .env
    volumes:
      - ./.env:/app/.env:ro
    networks:
      - ecommerce-network

networks:
  ecommerce-network:
    driver: bridge
